<!DOCTYPE html>
<html>
<head>
    <title>Voting Authenticator</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
<body>

<header>
    <h1>U.S. Online Voting System</h1>
</header>
<div class="content">
    <h2>Please enter all of your information for verification</h2>
    <form method="post" action="/authenticate/add">
        <label for="firstname">First Name:</label><br>
        <input type="text" name="firstname" title="firstname">
        <br>
        <label for="lastname">Last Name:</label><br>
        <input type="text" name="lastname">
        <br>
        <div class="ssn_div">
            <label for="ssn">Social Security Number:</label><br>
            <input type="number" name="ssn">
            <br>
        </div>

        <label for="street">Street Address:</label><br>
        <input type="text" name="street">
        <br>
        <label for="city">City:</label><br>
        <input type="text" name="city">
        <br>
        <label for="state">State:</label><br>
        <input type="text" name="state">
        <br>
        <label for="county">County:</label><br>
        <input type="text" name="county">
        <br>

        <input type="submit" value="Authenticate">
    </form>
</div>
</body>
</html>