<!DOCTYPE html>
<html>
<head>
  <title>Main</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
<body>
<header>
  <h1>U.S. Online Voting System</h1>
</header>
<div class="content">
  <h2>Please select an option</h2>
  <p><a href="authenticate">Authenticate</a></p>
  <p><a href="trackblock">Track Vote</a></p>
</div>
</body>
</html>