<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>eVote</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
<body>

<header>
  <p>This is a blockchain voting system</p>
</header>
<div class="content">
  <a href="/authenticate">Authenticate</a>
</div>
</body>
</html>