<!DOCTYPE html>
<html>
<head>
  <title>Main</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
<body>
<header>
  <h1>U.S. Online Voting System</h1>
</header>
<div class="content">
  <h2>Click the link to authenticate</h2>
  <a href="authenticate">Authenticate</a>
</div>
</body>
</html>