<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>eVote</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
<body>
<p>This is a blockchain voting system</p>
<a href="/authenticate">Authenticate</a>
</body>
</html>