<!DOCTYPE html>
<html>
<head>
    <title>Voting Booth</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
<body>
<header>
    <h1>U.S. Online Voting System</h1>
</header>
<div class="content">
    <h2>We are sorry it looks like your vote does not exist. Please check back later</h2>
    <div>
        <p>If your vote still does not exist please make sure the ID you entered is correct. Otherwise proceed to
        the nearest physical voting booth and vote there. </p>
    </div>
</div>
</body>
</html>