<!DOCTYPE html>
<html>
<head>
    <title>Voting Booth</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
<body>
<header>
    <h1>U.S. Online Voting System</h1>
</header>
<div class="content">
    <h2></h2>
    <div>
        <p>We are sorry but we could not locate your information. Make sure you are entering it correctly.</p>
        <p>If this issue persists please make your way to a nearby voting booth</p>
        <p>Please click <a href="/">here</a> to be taken back to the home page</p>
    </div>
</div>
</body>
</html>