<!DOCTYPE html>
<html>
<head>
    <title>Voting Booth</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
<body>
<header>
    <h1>U.S. Online Voting System</h1>
</header>
<div class="content">
    <h2>We are processing your vote at this time.</h2>

</div>
</body>
</html>