<!DOCTYPE html>
<html>
<head>
    <title>Voting Booth</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
<body>
    <header>
        <h1>U.S. Online Voting System</h1>
    </header>
    <div class="content">
        <h2>Find your vote</h2>
        <div>
            <form method="post" action="/trackblock/check">
                <label for="UserID">User ID:</label><br>
                <input type="text" name="UserID" title="UserID" size="45"><br><br>
                <input type="submit" value="Find">
            </form>
        </div>
    </div>
</body>
</html>