<!DOCTYPE html>
<html>
<head>
    <title>Voting Booth</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
<body>
<header>
    <h1>U.S. Online Voting System</h1>
</header>
<div class="content">
    <h2>Please select your vote</h2>
    <div>
        <form action="" method="post">
            <h3>Presidential Candidates</h3>
            <div class="pres">

            </div>
            <input type="submit" value="Vote">
        </form>
    </div>
</div>
</body>
</html>