header{
    position:sticky;
    position:-webkit-sticky;
}
header h1{
    background-color:green;
    color:white;
    text-align:center;
}
body{
    margin: 0px;
    padding: 0px;
    background-color:lightgray;
}
.content{
    width:70%;
    background-color:white;
    margin:auto;
}
.content h1{
    text-align:center;
}
.content label{
    display:inline-block;
}
.content form{
    margin:auto;
    text-align:center;
    padding:1em;
}
